<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.code.reflect">

    <application>
        <activity android:name=".SubActivity"></activity>
        <activity
            android:name=".SeconActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ReflectMainActivity" />

        <service android:name=".service.StubService1" />
    </application>

</manifest>